*, *::after, *::before
    {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
/* *****************************  Conrad Section **********************************/
.conrad
    {
        background: url("../images/conrad.jpg") fixed;
        width: 100%;
        height: 700px;
        color: white;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
.conrad .overlay
    {
        background: rgba(12, 50, 74, .5);
        min-height: 100%;
    }
.container
    {
        width: 1100px;
        margin: auto;
    }
.conrad header
    {
        padding-top: 20px;
        overflow: hidden;
    }
.conrad header .logo
    {
        float: left;
    }
.conrad header nav
    {
        float: right;
    }
.conrad header .logo
    {
        font-size: 25px;
        text-transform: uppercase;
        font-size: bold;
        font-family: 'Comfortaa', cursive;
        letter-spacing: 4px;
    }
.conrad header nav ul li
    {
        display: inline-block;
        text-decoration: none;
        padding-right: 20px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 3px;
        opacity: .6;
        transition: all .5s ease-in-out;
    }
.conrad header nav ul li:first-child{ opacity: 1}
.conrad header nav ul li:hover
    {
        opacity: 1;
        cursor: pointer;

    }
.hiddenHeader
    {
        display: none;
        width: 100%;
        height: 60px;
        background: rgba(12, 50, 74, .9);
        color: white;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 5;
        padding-left: 110px;
        padding-right: 110px;
    }
.conrad .slogan p:first-child
    {
        font-size: 60px;
        margin-top: 170px;
        margin-left: 50px;
        font-family: 'Patua One', cursive;
        letter-spacing: 3px;
        text-transform: capitalize;
        cursor: default;
    }
.conrad .slogan p:last-child
    {
        font-family: 'Patua One', cursive;
        letter-spacing: 3px;
        text-transform: capitalize;
        font-size: 30px;
        cursor: default;
        margin-top: 10px
    }
.conrad .slogan span{ transition: all .75s ease-in-out }

.conrad .slogan:hover span
    {
        display: inline-block;
        transform: rotate(360deg);
    }
/* *************************8 About Section ******************************* */
.aboutHead
    {
        padding-top: 80px;
        padding-bottom: 70px;
        overflow: hidden;
        position: relative;
    }
.aboutHead .about,
.aboutHead .awesome,
.aboutHead .creative
    {
        width: 32%;
        float: left;
        margin-right: 2%;
    }
.aboutHead .about h2
    {
        font-family: 'Patua One', cursive;
        font-size: 50px;
        color: rgba(2, 2, 2, .6)
    }
.aboutHead .about p
    {
        font-family: "segoe ui";
        margin-top: 20px;
        font-size: 17px;
        color: #555;
        line-height: 26.7px;
        margin-left: 10px
    }
.aboutHead .about div
    {
        margin-top: 20px;
        color: #999;
        font-family: 'Comfortaa', cursive;
        transition: all .5s ease-in-out;
    }
.aboutHead .about div:hover
    {
        color: #444;
        cursor: pointer;
    }
.aboutHead .creative
    {
        margin-right: 0;
    }
.aboutHead .awesome img,
.aboutHead .creative img
    {
        width: 100%;
        height: 234.54px;
        border-radius: 30px;
        transition: all .5s ease-in-out;
        outline: 0;
    }
.aboutHead .awesome .image1,
.aboutHead .creative .image2
    {
        overflow: hidden;
        border-radius: 35px;
        outline: 0;

    }
.aboutHead .awesome img:hover,
.aboutHead .creative img:hover
    {
        transform: scale(1.2);
    }
.aboutHead .awesome h3,
.aboutHead .creative h3
    {
        font-size: 22px;
        font-family: 'Comfortaa', cursive;
        margin-top: 13px;
        margin-bottom: 10px;
        text-align: center;
        color: #6e6e6e;
    }
.aboutHead .awesome p,
.aboutHead .creative p
    {
        font-family: "segoe ui";
        color: #888;
        text-align: center;
    }
.arrows .first, .arrows .second, .third, .fourth
    {
        width: 160px;
        height: 18px;
        background: rgba(12, 50, 74, .2);
        position: absolute;

    }
.arrows .first
    {
        transform: rotate(90deg);
        left: 10px;
        top: 90px;
    }
.arrows .second
    {
        top: 40px;
        left: 40px;
    }
.arrows .fourth
    {
        right: 33px;
        bottom: 23px;
    }
.arrows .third
    {
        transform: rotate(270deg);
        right: 0;
        bottom: 74px;
    }
/*Start the clints section*/
.clints
    {
        background: url('../images/back.jpg') fixed;
        min-height: 400px;
        margin-top: 20px;
        color: white;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;

    }
.clints .overlay
    {
        background: rgba(12, 50, 74, .5);
        min-height: 400px;
    }
.clints .container
    {
        padding-top: 80px;
        padding-bottom: 50px;
    }
.clints .container h2
    {
        font-size: 50px;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
    }
.clints .container .posts
    {
        margin-top: 20px;
        font-family: "segoe ui";
        font-size: 20px;
        color: #ddd;
        line-height: 1.5;
    }
.clints .container .posts .two
    {
        display: none;
    }
.clints .container .posts div.one,
.clints .container .posts div.two
    {
        margin-top: 30px;
    }
.clints .container .buttons
    {
        margin-top: 40px
    }
.clints .container .buttons button
    {
        background: transparent;
        width: 300px;
        color: #ddd;
        font-family: 'Comfortaa', cursive;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-right: 20px;
        border: 1px solid #CCC;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        outline: 0;
        box-shadow: 0 0 7px rgb(2, 2, 2);

    }
.clints .container .buttons button:hover
    {
        box-shadow: 0 0 20px rgb(2, 2, 2);
        background-color: rgba(12, 50, 74, .7);
        cursor: pointer;
        color: white;
    }

/*End the clints section */
/*start the solutions box*/
.solutionsBox
    {
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
    }
.solutionsBox .solution,
.solutionsBox .accordion
    {
        width: 45%;
        float: left;
        margin-right: 5%;
    }
.solutionsBox .accordion
    {
        margin-left: 0;
    }
.solutionsBox .solution h2
    {
        font-family: 'Patua One', cursive;
        font-size: 50px;
        color: rgba(2, 2, 2, .7)
    }
.solutionsBox .solution p
    {
        font-family: "segoe ui";
        margin-top: 20px;
        font-size: 17px;
        color: #555;
        line-height: 26.7px;
        margin-left: 10px
    }
.solutionsBox .solution div
    {
        margin-top: 20px;
        color: #999;
        font-family: 'Comfortaa', cursive;
        transition: all .5s ease-in-out;
    }
.solutionsBox .solution div:hover
    {
        color: #444;
        cursor: pointer;
    }
.solutionsBox .accordion h3
    {
        font-family: 'Patua One', cursive;
        font-size: 23px;
        font-weight: 500;
        color: white;
        background: rgba(12, 50, 74, .7);
        padding: 10px;
        border-bottom: 1px solid white;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
.solutionsBox .accordion h3:hover
    {
        background: rgba(12, 50, 74, .9);
    }
.solutionsBox .accordion p
    {
        display: none;
        padding: 10px;
        font-family: 'segoe ui';
        box-shadow: 0px 4px 17px 0px rgba(12, 50, 74, .5);
        color: #4d4c4c;
        /* IE10+ */
        background-image: -ms-linear-gradient(top, #A9D2E4 0%, #A9D2F3 10%, #B1E4FD 25%, #BDF3FD 37%, #B6F1FD 50%, #A2DAF5 83%, #A9D2E4 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(top, #A9D2E4 0%, #A9D2F3 10%, #B1E4FD 25%, #BDF3FD 37%, #B6F1FD 50%, #A2DAF5 83%, #A9D2E4 100%);

        /* Opera */
        background-image: -o-linear-gradient(top, #A9D2E4 0%, #A9D2F3 10%, #B1E4FD 25%, #BDF3FD 37%, #B6F1FD 50%, #A2DAF5 83%, #A9D2E4 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A9D2E4), color-stop(10, #A9D2F3), color-stop(25, #B1E4FD), color-stop(37, #BDF3FD), color-stop(50, #B6F1FD), color-stop(83, #A2DAF5), color-stop(100, #A9D2E4));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(top, #A9D2E4 0%, #A9D2F3 10%, #B1E4FD 25%, #BDF3FD 37%, #B6F1FD 50%, #A2DAF5 83%, #A9D2E4 100%);

        /* W3C Markup */
        background-image: linear-gradient(to bottom, #A9D2E4 0%, #A9D2F3 10%, #B1E4FD 25%, #BDF3FD 37%, #B6F1FD 50%, #A2DAF5 83%, #A9D2E4 100%);
    }
.solutionsBox .accordion .qone p
    {
        display: block;
    }
.solutionsBox .arrows .first, .arrows .second, .third, .fourth
    {
        width: 160px;
        height: 18px;
        background: rgba(12, 50, 74, .2);
        position: absolute;

    }
.solutionsBox .arrows .first
    {
        transform: rotate(90deg);
        left: 10px;
        top: 120px;
    }
.solutionsBox .arrows .second
    {
        top: 69px;
        left: 40px;
    }
.solutionsBox .arrows .fourth
    {
        right: 33px;
        bottom: -196px;
    }
.solutionsBox .arrows .third
    {
        transform: rotate(270deg);
        right: 0;
        bottom: -150px;
    }
/*End the solutions box*/
.clearfix{ clear: both }
/* ****************** start social section **************** */
section.social
    {
        margin-top: 200px;
        transition: skewY(3deg);
        position: relative;
    }
.social .back1, .social .back2
    {
        width: 100%;
        height: 300px;
        background-color: rgba(12, 50, 74, .6);
        position: absolute;
        box-shadow: 0 0 3px black
    }
.social .back1
    {
        z-index: 3;
        transform: skewY(8deg);
        background-color:rgba(12, 50, 74, .6);

    }
.social .back2
    {
        z-index: 4;
        transform: skewY(-8deg);
    }
.social .back2 .content
    {
        transform: skewY(8deg);
        width: 740px;
        margin:80px auto 0;
    }
.social .back2 .content h2
    {
        font-size: 50px;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        margin-bottom: 40px;
        color: white;
        text-shadow: 6px 5px 12px black;
    }
.social .back2 .content form input
    {
        width: 407px;
        height: 40px;
        border: none;
        outline: 0;
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: #777;
        font-family: "segoe ui";
    }
.social .back2 .content form button
    {
        background: transparent;
        width: 300px;
        color: #ddd;
        font-family: 'Comfortaa', cursive;
        text-transform: uppercase;
        padding: 10px 20px;
        margin-left: 20px;
        border: 1px solid #CCC;
        border-radius: 10px;
        transition: all .5s ease-in-out;
        outline: 0;
        box-shadow: 0 0 7px rgb(2, 2, 2);

    }
.social .back2 .content form button:hover
    {
        box-shadow: 0 0 20px rgb(2, 2, 2);
        background-color: rgba(12, 50, 74, .7);
        cursor: pointer;
        color: white;
    }

/*End social section*/
/* ******************* *** **** start our recent work *** *************/
section.recent
{
    margin-top: 600px;
}
.recent .head h2
    {
        font-family: 'Patua One', cursive;
        font-size: 50px;
        color: rgba(2, 2, 2, .7);
        margin-bottom: 40px;
    }
.recent .head
    {
        margin-bottom: 40px;
    }
.recent .head ul li
    {
        display: inline-block;
        margin-right: 10px;
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
        opacity: .6;
        transition: all .5s ease-in-out;
    }
.recent .head ul li.active,
.recent .head ul li:hover
    {
        opacity: 1;
        cursor: pointer;
    }
.recent .imgs    { height: 400px}
.recent .imgs .A
    {
        width: 25%;
        float: left;
    }
.recent .imgs .B
    {
        width: 25%;
        float: left;

    }
.recent .imgs .C
    {
        width: 50%;
        float: left;

    }
.recent .imgs .A { padding: 0; margin: 0}
.recent .imgs .A .one img,
.recent .imgs .A .two img,
.recent .imgs .A .three img,
.recent .imgs .B .four img,
.recent .imgs .B .five img
    {
        width: 100%;
    }
.recent .imgs .B .five img
{
    height: 393px;
}
.recent .imgs .C .top
    {
        width: 100%;
    }
.recent .imgs .C .six img
    {
        height: 393px;
        width: 672px;
    }
.recent .imgs .C .bottom
    {
        width: 100%;
    }

.recent .imgs .C .seven img,
.recent .imgs .C .eight img
    {
        width: 50%;
        float: left;
    }
.recent .imgs .C .eight img
    {
        height: 224px;
    }
/*End our recent work*/
/* ************* start the footer ****************** */
footer
    {
        height: 150px;
        width: 100%;
        background: #0a6b97;
        margin-top: 0px;
        margin-bottom: 0;
        color: white;
        overflow: hidden;
    }
footer .right
    {
        float: right;
        line-height: 150px
    }
footer .left
    {
        float: left;
        line-height: 150px;
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
    }
footer .right i
    {
        margin-left: 10px;
    }
footer .right i:first-of-type:hover
    {
        color: #3b5998;
        cursor: pointer;
    }
/*End the footer*/
